TELEGRAM_TOKEN=8137499416:AAEx0Ey5-lANjO1CPt_AosLd7Lg-CIH-Cdo
TELEGRAM_BOT_USERNAME=shvedyolist_bot
JWT_SECRET=44ba9a84da934e85fd29b57dd5bc9125e8d27f5635bf846fd287e1f9e8409fe0
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=0000
DB_NAME=todolist
DOMAIN=shvedyolist.ru
